
        <section>
        
        <div class="row">

                        <div class="col col-4">
                            
                            <ul class="left">
                                            <li>HongKong Dollars</li>
                                            <li>Macao Pataca</li>
                                            <li>Renminbi Yuan</li>
                                            <li>Korean Won</li>
                                            <li>Vietnamese Dong</li>
                                            <li>Japanese Yen</li>
                                            <li>Laotian Kip</li>
                                            <li>Camboddian Riel</li>
                                            <li>Philippine Peso</li>
                                            <li>Malaysian Dollar</li>
                                            <hr>
                                            <hr>
                                            <img src="img/3.png" />
                                            <hr>
                                            <hr>
                                            <li>HongKong Dollars</li>
                                            <li>Macao Pataca</li>
                                            <li>Renminbi Yuan</li>
                                            <li>Korean Won</li>
                                            <li>Vietnamese Dong</li>
                                            <li>Japanese Yen</li>
                                            <li>Laotian Kip</li>
                                            <li>Camboddian Riel</li>
                                            <li>Philippine Peso</li>
                                            <li>Malaysian Dollar</li>
                                            <hr>
                                            <hr>
                                            <img src="img/6.png" />
                                            <hr>
                                            <hr>
                                            <li>HongKong Dollars</li>
                                            <li>Macao Pataca</li>
                                            <li>Renminbi Yuan</li>
                                            <li>Korean Won</li>
                                            <li>Vietnamese Dong</li>
                                            
                                            


                                            
                            </ul>
        </div>


        <div class="col col-8">

            <div>
            <hr>
            <hr>

            <h2>Customer Service</h2>
            <hr>
            <hr>
            <h2>How can we help you?</h2>
            <hr>
            <hr>

            

            <div id="wrapper">
            <h1>Contact Page</h1>
            <div id="formHolder">
                <form>
                    <fieldset>
                        <div class="formBox">
                            <input type="text" id="fname" placeholder="fname" name="fn" required>
                        </div>
                        <div class="formBox">
                            <input type="text" id="lname" placeholder="lname" name="ln" required>
                        </div>
                        <div class="formBox">
                            <input type="em" id="email" placeholder="email" name="em" required>
                        </div>
                        <div class="formBox">
                            <input type="text" id="subject" placeholder="subject" name="sb" required>
                        </div>
                        <div class="formBox">
                            <textarea id="message" placeholder="message" name="ms" required></textarea>
                        </div>
                    </fieldset>
                    <input type="submit" id="send" value="SEND">
                </form>

                <p class="feedback"></p>
            </div>
        </div>

        <hr>
        <hr>


            
           
        </div>

            <div class="content">
                <div class="row">
                <div class="col image">
                <img src="img/e2.jpg">
                </div>
                
                <div class="col image">
                <img src="img/e2.jpg">
                </div>

                <div class="col image">
                <img src="img/e2.jpg">
                </div> 
                </div>

            </div>

            <div>
                <h2>How can I make a comment ?</h2>
                <p>We always welcome your feedback about our service – whether you found it friendly and helpful, or whether it fell short of your expectations. Please Contact Us with your comments and we’ll respond as soon as possible.</p>
                <p>Was this answer helpful?</p>
                <p><input type="submit" value="Yes"><br><input type="submit" value="No"></p>
                <br><br>
            </div>

